body {
  height: 200vh;
}

main {
  margin: 100vh 0;
}

.portal-player {
  position: fixed;
  inset: 0;
}

.zooom-container {
  position: relative;
}

img.zooom-image {
  display: block;
  transform: none;
  visibility: hidden;
}
