body {
  height: 200vh;
}

main {
  margin: 100vh 0;
}

.portal-player {
  position: fixed;
  inset: 0;
}

.zoomerang-container {
  position: relative;
}

img.zoomerang-image {
  display: block;
  transform: none;
  visibility: hidden;
}

